body {
  /* min-height: 2000px; */
  /* background-image: url('bg.jpg') ; */
  /* padding-top: 55px; */
  background-color: #ffffff;
}
 #footer{
     background-color: #f8f8f8;
    border-color: #e7e7e7;
  }

 
 